body {
  font-family: 'Quicksand', sans-serif;
  padding: 12% 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #110e0b;
  text-decoration: none;
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
}

.ether {
  font-size: 30px;
  color: #c6afa3;
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  top: 3%;
  font-family: 'Arvo', serif;;
}

a {
  text-decoration: none;
  color: #110e0b;
  display: block;
}

ul {
  display: inline;
  padding: 0;
  list-style: none;
  background-color: #754029;
}

ul li {
  font: 18px 'Quicksand';
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #754029;
  cursor: pointer;
  color: #c6afa3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mainul {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 20%;
  background: none;
}

.main-class {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hover1, .clicked {
  background: #be5224;
  color: #110e0b;
}

.secondul {
  padding: 0;
  position: absolute;
  top: 53px;
  left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  width: inherit;
}

.class-2 { 
  background: hsl(17.9,68.1%,50%); 
  display: block; 
  color: #110e0b;
  transition: all 0.2s ease-out;
  padding: 15px 10px;
  text-align: left;
  width: 135px;
}

.hover2 { 
  background: #8d3d1b;
}

.dropdown, .tempdrop {
  display: block;
  visibility: visible;
  animation: dropdownanimation .1s ease-out forwards;
  z-index: 4;
}

@keyframes dropdownanimation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
  }
}

form {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20%;
}

input {
  width: 100%;
  height: 40px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(28,23,18);
  border: none;
  color: #c6afa3;
  text-align: center;
  border-radius: 4px;
}

:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(198,175,163);
  color: rgba(198,175,163,0.3);
  font-family: 'Quicksand Bold', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */  
  color: rgb(198,175,163);
  color: rgba(198,175,163,0.3);
  font-family: 'Quicksand Bold', sans-serif;
}

@media only screen and (max-height: 600px) {
    form {
      top: 50%;
      width: 300px;
      z-index: -5;
    }
}